<div class="navbar navbar-default">
  <div class="container-fluid container mx-auto">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Recipe book</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a routerLink="/recipes" (click)="show('recipe')">Recipes</a></li>
        <li><a routerLink="/shopping-list" (click)="show('shoppingList')">Shopping list</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" appDropdown>
          <a href="#"
          class="dropdown-toggle"
          role="button"> Settings <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Save data</a></li>
            <li><a href="#">Fetch data</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
