/* DYNAMICS */

// Spacing grid
@for $i from 0 through 6 {
  $spacer : 0em + $i / 3;
  .p-#{$i} {
    padding: $spacer;
  }
  .px-#{$i} {
    padding-left: $spacer;
    padding-right: $spacer;
  }
  .py-#{$i} {
    padding-top: $spacer;
    padding-bottom: $spacer;
  }
  .pt-#{$i} {
    padding-top: $spacer;
  }
  .pb-#{$i} {
    padding-bottom: $spacer;
  }
  .m-#{$i} {
    margin: $spacer;
  }
  .mx-#{$i} {
    margin: 0 $spacer !important;
  }
  .mx-auto {
    margin: 0 auto;
  }
  .my-#{$i} {
    margin: $spacer 0;
  }
  .mt-#{$i} {
    margin-top: $spacer;
  }
  .mb-#{$i} {
    margin-bottom: $spacer;
  }
}
