/* You can add global styles to this file, and also import other style files */
@import 'normalize','dynamics';

.container {
  max-width: 1200px;
}

h4 {
  margin-top: 0px;
}

label {
  width: 100%;

  input {
    width: 100%;
  }

}

.navbar-default {
  border: 0px;
  //background-color: rgba(invert( #f5dd4e, 10%),.6);
  .navbar-brand{
    color: black;
  }
  .navbar-nav {
    li {
      a {
        //color: lighten(black, 10%);
        font-weight: 400;
        //text-transform: uppercase;
      }
    }
    li.dropdown ul {
      a {
        //color: black;
      }
    }
  }
}
.ingredient_controls {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 100%;
  button:first-child {
    margin-left:15px;
  }
}
.edit-ingredient {
  position: absolute;
  top: -2px;
  left: 7px;
  input{
    width: 30%;
    display: inline-block;
  }
}

a.show-controls .controls,
a.show-controls .editor-opened {
  display: block;
}

%btn-color {
  color: #666;
}

.btn {
  &.btn-controls {
    padding: 0px;
    background-color: transparent;
    vertical-align: middle;
    color: #ccc;
    &:hover {
      background-color: transparent;
      @extend %btn-color
    }
    &:focus {
      outline: none;
      color: #666;
      @extend %btn-color;
    }
    &:active {
      box-shadow: none;
      @extend %btn-color;
    }
    &:hover {

    }
    i {
      display: block;
      &:focus {
        outline: none;
        color: inherit;
      }
    }
  }

}

footer {
  background-color: lighten( gray , 45% );
  font-size: .8em;
  color: gray;
}
