<div class="ingredient_controls controls col-md-12 text-right px-0" #parentEl>
  <button class="btn btn-controls edit" (click)="onEdit()" [appToggle]="parentEl" #toggleControls="toggleDirective">
    <i class="material-icons">create</i>
  </button>
  <button class="btn btn-controls remove" (click)="onRemove()">
    <i class="material-icons">delete</i>
  </button>

    <div class="edit-ingredient text-left" *ngIf="toggleControls.trigger" >
      <input type="text" class="form-control" #ingredientName [value]="ingredientSelected.name">
      <input type="number" class="form-control" #ingredientAmount [value]="ingredientSelected.amount">
      <button type="submit" class="btn btn-controls confirm" (click)="onEditSubmit( ingredientName.value, ingredientAmount.value )">
        <i class="material-icons">done</i>
      </button>
    </div>
</div>
