<div class="row">
  <div class="col-xs-10 p-0">
    <app-list-edit></app-list-edit>
    <hr>
    <ul class="list-group">
      <a class="list-group-item"
      style="cursor: pointer;"
      *ngFor="let ingredientEl of ingredients; let i = index "
      >
        <app-ingredient [ingredient]="ingredientEl"></app-ingredient>

      </a>
    </ul>
  </div>
</div>
