<div class="row p-0">
  <div class="col-xs-12 p-0" >

    <button
    [disabled]="togglingService.isRecipeMenuShown"
    mat-raised-button
    color="primary"
    (click)=" togglingService.toggleRecipeMenu();
    ">
      New recipe
    </button>

    <button
    class="pull-right mx-2"
    mat-icon-button
    basic
    *ngIf="togglingService.isRecipeMenuShown"
    (click)=" togglingService.toggleRecipeMenu(); clearInputs()
    ">
      <i class="material-icons">clear</i>
    </button>

  </div>
  <div class="col-xs-12 p-0 pt-3" [hidden]="!togglingService.isRecipeMenuShown" #recipeInputs>
      <mat-form-field class="col-xs-6">
        <input matInput placeholder="Recipe name" #recipeName>
      </mat-form-field>
      <mat-form-field class="col-xs-6">
        <input matInput placeholder="Describtion" #recipeDesc>
      </mat-form-field>
      <mat-form-field class="col-xs-12">
        <input matInput placeholder="Image path" #imageUrl>
      </mat-form-field>
      <ng-container *ngFor=" let ingredient of ingredients; let i = index ">
        <mat-form-field class="col-xs-6">
          <input matInput placeholder="Ingredient" #ingredientName>
        </mat-form-field>
        <mat-form-field class="col-xs-4">
          <input matInput placeholder="Amount" type="number" #ingredientAmount>
        </mat-form-field>
      </ng-container>
      <div class="col-xs-2"> 
        <button mat-button (click)=" addToIngredientsArray( i ) ">Add ingredient<i class="material-icons">add</i></button>
      </div>
      <div class="col-xs-12">
        <button
        mat-button
        color="basic"
        (click)=" addRecipe( recipeName.value, recipeDesc.value, imageUrl.value, processIngredients() ); clearInputs()
        ">
          Add recipe
        </button>
      </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12 p-0">
    <app-recipe-item
      *ngFor="let recipeEl of recipes; let x = index "
      [recipe]="recipeEl"
      ></app-recipe-item>
  </div>
</div>


