<div class="row">
  <div class="col-md-7 p-0">
    <app-recipe-list [ingredients]></app-recipe-list>
  </div>
  <div class="col-md-5 p-0">
    <app-recipe-detail
    *ngIf=" recipeSelected; else selectRecipe "
    [recipe]="recipeSelected"
    ></app-recipe-detail>
    <ng-template #selectRecipe>
      Please select a recipe!
    </ng-template>
  </div>
</div>

