<app-header (getMenuItem)="togglingService.menuName = $event"></app-header>
<div id="site" class="container mx-auto">
  <div class="p-1">
    <div class="col-xs-12 p-0">
      <title>{{ title }}</title>

      <main class="col-xs-12 p-0">
        <router-outlet></router-outlet>
        <!-- <app-recipe-book *ngIf="togglingService.menuName === 'recipe'"></app-recipe-book>
        <app-shopping-list *ngIf="togglingService.menuName === 'shoppingList'"></app-shopping-list> -->

      </main>


    </div>
  </div>
</div>
<app-footer></app-footer>

