<div class="row">
  <div class="col-xs-12 p-0 pt-4">
    <form>
      <div class="row">
        <div class="col-sm-5 form-group p-0">
          <label for="name">Name</label>
          <input type="text"
          id="name"
          class="form-control"
          #nameInput
          >
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <input
          type="number"
          id="amount"
          class="form-control"
          #amountInput
          >
        </div>
        <div class="row col-xs-12 p-0">
          <button class="btn btn-success" type="button" (click)="addIngredient()">Add</button>
        </div>
      </div>
    </form>
  </div>
</div>
